@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Montserrat:ital,wght@1,500&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body{
  background-image: url('assets/bg.png');
  background-position: center center;
  background-size: cover;
}
.greeting {
font-family: 'DotGothic16', sans-serif;
}
.yellow-duck{
  width: 65vh;
  height: auto;
}
.red-duck{
  width: 35vh;
  height: auto;
}
.green-duck{
  width: 35vh;
  height: auto;
}
.blue-duck {
  width: 25vh;
  height: auto;
}
.menu-duck {
  width: 10vh;
  background: transparent;
}
.user-duck {
  width: 10vh;
  background: transparent;
  display: flex;
  align-self: flex-end;
}
.banner {
  width: 110vh;
}
.quack-back-recordings{
  display: inline-block;

}

button, button:hover, button:active {
  background: transparent;
  border: transparent ;
}
button:active>img {
  background-image: url('./assets/active.png');
}

button:hover>img {
 filter: grayscale(50%);
}
button>img {
  transition: .5s;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
  background-image: url('/src/assets/header.png');
  background-size: contain; 
}

.modal-body {
  background-color: #dbfafd;
}

.modal-footer {
  background-color: #dbfafd;
}

.btn-primary {
  color: #fff;
  background-color: #00bcd4;
  border-color: #007bff;
}
a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  font-size: 3vh;
}

.login-container {
  background: rgba(222, 251, 255, 0.75);
  padding: 5%;
}
.dropdown-menu.show {
  display: block;
  background-color: #74baba;
}

.btn{
  border: none
}

@media screen and (min-width: 500px) and (max-width: 1025px) {
  .banner {
    width: 60vh;
}  
.green-duck {
  width: 27vh;
  height: auto;
}

}
@media screen and (max-width: 500px) {
  .banner {
    width: 50vh;
}
.yellow-duck {
  width: 40vh;
  height: auto;
}
.red-duck {
  width: 20vh;
  height: auto;
}
.green-duck {
  width: 20vh;
  height: auto;
}
.blue-duck {
  width: 20vh;
  height: auto;
}
body{
  background-image: url('assets/mobile_bg.png');
  background-position: center center;
  background-size: cover;
}
.h1, h1 {
  font-size: 1.5rem;
}
}

